*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
    font-family:Helvetica;
}


body{
    background:linear-gradient(to bottom,#ffffff,#cccccc);
}

.content{
    margin:auto;
    max-width:80%;
    padding-top:120px;
}

/*Header*/
.top {
    background:linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    width:100%;
    height:120px;
}

.top1{
    float:left;
    width:20%;
}

.top2{
    width:100%;
    height:80px;
    float:left;
    width:80%;
}

ul{
    list-style:none;
    margin: 0;
    padding: 0;
}

li{
    float:right;
}

li a, .creditPoints a, .managefood a, .managemeal a{
  display: block;
  color: white;
  text-align: center;
  padding:10px 30px;
  text-decoration: none;
}

#couponbtn{
    text-align:center;
    padding:10px 30px;
    border:none;
    background:rgb(5,5,5);
    color:white;
    font-size:15px;
}

li a:hover:not(.active), .creditPoints:hover:not(.active),
.managefood:hover:not(.active),
.managemeal:hover:not(.active),
#couponbtn:hover:not(.active){
  background-color: #262626;
  border-bottom:2px solid red;
}

#navbar{
    position:fixed;
    transition:0.3s;
}

/*Profile*/
.profilePic{
    background:url(../Images/profile.png);
    width:5%;
    float:right;
    height:50px;
    background-size:50px 50px;
    background-repeat: no-repeat;
    margin:14px 20px;
}

.hello{
    float:right;
    height:50px;
    color:white;
}

.hello p{
    padding-top:35px;
    text-align:right;
}


/*Drop down */
.dropdown {
  float: right;
}

.dropdown .creditPoints, .managefood, .managemeal {
  font-size: 14px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  height:40px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size:14px;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/*Footer*/
.bottom{
    background:linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
    width:100%;
    height:200px;
}

@media screen and (max-width: 1400px) {
  body {
    overflow:auto;
    width:1400px;
    
  }
}

/*Meal Coupon Pop Out*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: gray;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 20px 16px;
  background:linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
  height:70px;
  color: white;
  text-align:center;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background: linear-gradient(to right,rgb(45, 45, 45),rgb(0,0,0));
  height:50px;
  color: white;
  
}

/*Meal Coupon List Table*/
#meals {
  border-collapse: collapse;
  width: 100%;
  margin:0;
  margin-top:50px;
}

#meals td, #meals th {
  border: 1px solid #ddd;
  padding: 8px;
}

#meals tr:nth-child(even){background-color: #f2f2f2;}

#meals th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

#printbtn:hover{
    background-color: white;
  border: none;
  color: black;
  text-align: center;
  transition: 0.3s;
}

#printbtn{
    background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  padding:10px 20px;
  width:150px;
  margin-left:40%;
  margin-top:40px;
  margin-bottom:40px;
}

