* {
  box-sizing: border-box;
}

input[type=text], select, textarea, #mealprice {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.addmealtitle{
    padding:50px;
    text-align:center;
}

.addmeal{
    padding-bottom:200px;
}

.addmealbtn{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  width:200px;
  float:right;
  margin:20px;
}

.addmealbtn:hover{
    transition: 0.3s;
    background-color:#ffffff;
    color:black;
}

.addfood{
    padding-bottom:100px;
}

#mealimg{
    padding:10px;
}

/* The container */
            .container {
              display: block;
              position: relative;
              padding: 5px 35px 10px 35px;
              cursor: pointer;
              font-size: 15px;
              user-select: none;
              width:50%;
              float:left;
            }

            .container input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
              height: 0;
              width: 0;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 25px;
              width: 25px;
              background-color: #eee;
              border:1px solid gray;
              
            }
            
            .container:hover input ~ .checkmark {
              background-color: #ccc;
            }
            
            .container input:checked ~ .checkmark {
              background-color: black;
            }
            
            .checkmark:after {
              content: "";
              position: absolute;
              display: none;
            }

            .container input:checked ~ .checkmark:after {
              display: block;
            }

            .container .checkmark:after {
              left: 7px;
              top: 4px;
              width: 5px;
              height: 10px;
              border: solid white;
              border-width: 0 3px 3px 0;
              transform: rotate(45deg);
            }