* {
  box-sizing: border-box;
}

input[type=text], select, textarea, #reportdate {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.reporttitle{
    padding:50px;
    text-align:center;
}

.annualsalesreport{
    padding-bottom:200px;
}

.checkreportbtn{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  width:150px;
  float:right;
  margin:20px;
}

.checkreportbtn:hover{
    transition: 0.3s;
    background-color:#ffffff;
    color:black;
}

.checkreport{
    padding-bottom:100px;
}

/*Order List Table*/
#reports {
  border-collapse: collapse;
  width: 80%;
  margin:0;
  margin-top:50px;
  margin-left:10%;
  margin-bottom:50px;
}

#reports td, #reports th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align:center;
}


#reports th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

.reportlogo{
    background:url(../Images/logo.png);
    height:100px;
    width:100px;
}



