.topuptitle{
    text-align:center;
    padding:50px;
}

input[type=text], #topupamount {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.topupform{
    margin-bottom:200px;
}

.topupbtn{
  background-color: black;
  border: none;
  color: white;
  padding: 15px 40px;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  width:150px;
  float:right;
  margin:20px;
}

.topupbtn:hover{
    transition: 0.3s;
    background-color:#ffffff;
    color:black;
}
