/*Order List Table*/
#updatemeal {
  border-collapse: collapse;
  width: 100%;
  margin:0;
  margin-bottom:300px;
  margin-top:50px;
}

#updatemeal td, #orders th {
  border: 1px solid #ddd;
  padding: 8px;
}

#updatemeal tr:nth-child(even){background-color: #f2f2f2;}

#updatemeal th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: black;
  color: white;
}

