#orderconfirmationtitle{
    font-size:20px;
    text-align:center;
    font-weight:bold;
}

#backbtn:hover, #purchasebtn:hover{
  background-color: white;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  padding:10px 15px;
}

#backbtn, #purchasebtn{
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 15px;
  transition: 0.3s;
  padding:10px 15px;
  width:120px;
}

#backbtn{
    margin-left:27%;
}

#purchasebtn{
    margin-left:27%;
}
